body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

h1 {
    color: #333;
}

#verifyButton {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    outline: none;
}

#verifyButton:hover {
    background-color: #0056b3;
}
